*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.btn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #2fceff;
    color: #fff;
    padding: 10px 20px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;}
    .btn:hover
{
    background: #292929;
}
header{
    width: 100%;
    background-image: url(/Images/pexels-pixabay-326281.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 100;
    position: relative;
    
    
}

.navbar{
    width: 100%;
    background: #292929;
    height: 80px;
    position: fixed;
    z-index: 10;
   
}
.navbar-container{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
  
   
  
}
.recipe-logo{
    display: flex;
    font-size: 1rem;
    color: #fff;
   
}
.nav{
    text-align: center;
}
span, .current {
    color: #2fceff;
}

.recipe-logo img{
    width: 60px;
    height: 60px;
}
.recipe-logo h1{
padding-top: 10px;
 
}
.nav ul{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    border: 1px solid white;
   

    
}
.nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  position: relative;


  

}
.nav ul li a{
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
   
}
.nav ul li a:hover{
    color: #2fceff;
}


/*.nav ul li:after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2fceff;
    position: absolute; 
   left: 50%;
   top: 100%;
   transition: 0.5s ;
    
}
.nav ul li:hover::after{
    width: 50%;
    
}
.nav ul li a::after{
    content: "";
    width: 60px;
    height: 1px;
    background-color: #2fceff;
    border-radius: 2px;
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1px solid white ;
    transition: 0.5s;
}*/
#menu-button {
    padding: 2%;
    font-size: 2em;
    color: #fff;
    text-align: right;
    display: none;
}

#exit-button {
    float: left;
    font-size: 2em;
    padding: 15px 15px 0 0;
    margin-right: 20px;
    color: #fff;
    display: none;
}

.nav ul li a i{
    margin-left: .2em;
}

/*-------------Dropdow------------*/
.sub-menu {

    display: none;
    text-align: center;

}

.nav ul li:hover .sub-menu {
   display: block;
    position: absolute;

    background: #292929;
    margin-left: 5px;
    width: 200px;
  

}

.nav .sub-menu ul {
    display: block;
    margin-top: 20px;
    margin-left: -20px;
    text-align: left;
    position: relative;
}
.nav .sub-menu ul li {
    text-align: left;
  
}
.nav .sub-menu-1 ul li  a{
    display: contents;
}


.nav ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
   float: left;
  
  

}

.nav ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

.nav ul li:hover .sub-menu ul li a:hover {

    color: #2fceff;
}

.fa-angle-right {
    float: right;
}

.sub-menu-breakfast, .sub-menu-lunch, .sub-menu-snacks, .sub-menu-dinner {
    display: none;
    margin-left: -190px;
    width: 200px;
}

.hover-me:hover .sub-menu-breakfast, .hover-me:hover .sub-menu-lunch,.hover-me:hover .sub-menu-snacks, .hover-me:hover .sub-menu-dinner{
    display: block;
    position: absolute;
    background: #292929;
    margin-top: -40px;

}

.header-h1 {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 1;
   
}

.header-h1 h1 {
    font-size: 62px;
    color: #2fceff;
  
    
}

.header-h1 p {
   margin: 10px 0 40px;
    color: #fff;
    font-size: 14px;
}

/* Popular Section Styling */
.popular {
    background: #f8f8ff;
  
}

.popular h2 {
    font-size: 3em;
    padding: 5% 0 0 5%;
    color: #2fceff;
    position: relative;
    margin-bottom: 20px;
   
}
/*.popular h2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #131414;
    border-left: 5px solid #131414;
    transform:rotate(90deg);
  
}
.popular h2::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
   
    border-bottom: 5px solid #131414;
    border-left: 5px solid #131414;
    transform:rotate(-90deg);

}*/


    .popular-wrap{
        width: 90%;
        margin: auto;
       
    }
    .popular-row{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .popular img{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
    .popular-cont{
        flex-basis: 25%;
        padding: 10px;
        margin-top: 20px;
        min-width: 200px;
        text-align: center;
        transition: transform 0.5s;
        
        
    }
    .popular-cont:hover{
        transform: translateY(-5px);
    }




.recipe-content {
    padding: 2% 0 0 2%;
    line-height: 1.2;
    text-align: center;
}

.recipe-content h4 {
    padding-bottom: 10px;
   
}

.recipe-content p {
    font-size: 1em;

}


/* Our Team Secion Styling */
.our-team-wrap{
    width: 90%;
    margin: 2% auto;

}
.our-team-cont{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-around;
  
}
.team-cont {
   
    flex-basis: 25%;
    max-width: 250px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border: #cccc 1px solid;
    border-radius: 5px;
}
.team-cont:hover, .team-cont p:hover{
    background: #2fceff;
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
}

.our-team h2 {
   
    font-size: 3em;
    padding: 5% 0 0 5%;
    color: #2fceff;
    margin-bottom: 20px;
}

.team-pic {
    padding-top: 3%;
}

.team-cont img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #2fceff;
}

.team-pic h4 {
    padding-bottom: 2%;
}

.team-pic p {
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 5%;
}
/*========== About Page===============*/
.about{
    width: 70%;
    margin: 4% auto;
   
}
.about .about-container{
    display: flex;


}
.about-content h1{
    font-size: 2em;
    color: #2fceff;

}
.about-content p{
    margin-top: 20px;
}
.about .about-container{
    flex-basis: 50%;
}
.about .about-container .about-img img{

 width: 200px;
 border-radius: 20px;
 margin: 20px;

}
.about-btn{

}
/*========== Recipe Page===============*/

.recipe_container{
    width: 80%;
    margin: auto;
  
}

.recipe_img{
    background-image: url(../Images/Breakfast/pexels-shantanu-pal-2679501.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
   
   
}
.recipe_img_container{
    width: 100%;
    background:rgba(240, 235, 235, 0.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 83%
}
.recipe_title{
    text-align: center;
    color: #2fceff;
 }
 .recipe_name{
    font-size: 36px;
}
.recipe_title p span{
 color: #fff;
 font-size: 26px;
 font-weight: 900;
}
.recipe_title p{
    padding-top: 10px;
    font-size: 26px;
    font-weight: 900;
}
.recipe_content{
   
    padding-top: 4rem ;
  
}
.recipe_content h3{
   padding-bottom:1% ;
    color: #2fceff;
    font-weight: 800;
    font-size: 2.5rem;
}
.recipe_content p{
    font-size: 20px;
    line-height: 1.2;
}
.instruction{
    border: 3px solid #2fceff;
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
}
.instruction ul{
  
    padding-left: 12px;
}
.instruction h3{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
 font-size: 20px;
    font-weight: 900;
}

.instruction ul li{
 
    border-bottom: 1px solid rgba(51, 51, 51, 0.07);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    color: gray;
    position: relative;
    list-style: none;
 
    

}
.instruction .steps::before{
    content: "";
    border: 2px solid #2fceff;
    border-radius: 30px;
    height: 6px;
    position: absolute;
    left: 0;
    width: 6px;
    top: 13px;
}
.method  .steps{
    border-bottom: 1px solid rgba(51, 51, 51, 0.07);
    font-size: 17px;
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    list-style: none;
    z-index: 10;
   
   
}
.method h3{
    font-size: 20px;
     padding-top: 30px;
  padding-bottom: 12px;
  
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.07);
}

.method img{
    width: 40%;
    height: 40%;
border-radius: 20px;
   border: 3px solid #2fceff;
    display: block;
    margin: auto;
  
 
}
.steps{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.method .sub_steps{
    border-bottom: 1px solid rgba(51, 51, 51, 0.07);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    
   
}
.step_recipe, .step_img{
    flex-basis: 50%;
}

.img_container{
    display: flex;
}
   
/*========== Footer Page===============*/

footer {
    background: #30363d;
   
    
}

.footer-cont {
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
 
   

.ft-contacts {
    
    margin-left: 1%;
   
 
}

.ft-contacts h4 {
    color: #2fceff;
    padding-top: 3%;
    padding-bottom: 3%;
}

.ft-contacts p {
    color: #fff;
    font-size: .8em;
    font-weight: 100;
    line-height: 1.5;
}

.ft-links .nav-links {
    display: flex;
    margin-left: -35%;
    padding-top: 5%;
}

.ft-links .nav-links a {
    text-decoration: none;
    color: #2fceff;
}

.ft-links .nav-links p {
    color: #2fceff;
    padding: 0 5%;
}

.ft-links .nav-links .stroke {
    color: #fff;
}

.socials {
    margin-left: -10%;
    padding-top: 15%;
   
    color: #fff;
}

.socials a {
    color: #2fceff;
}

.ft-bottom {
    background: #000;
}

.ft-bottom p {
    text-align: center;
    font-size: .7em;
    font-weight: 100;
    color: #fff;
    padding: 2%;
}
.link{
   
    text-align: center;
}
@media (max-width: 992px) {
    .popular-row{
        flex-wrap: wrap;

    }
    .our-team-cont{
        flex-wrap: wrap;
    }
    
    
}
@media (max-width: 768px) {
    .popular-row{
        flex-wrap: wrap;
        
    }
    .our-team-cont{
        flex-wrap: wrap;
    }
    .team-cont{
      flex-basis: 100%;
    }
    .nav ul{
       position: absolute;
       top: 20%;
       right: 25%;
       transform: translate(-20%, -25%);
       text-align: center;
    }
    
    .nav{

        position: absolute;
        background: #292929;
        width: 200px;
        height: 100vh;
        top: 0;
        right: 0;
        text-align: left;
    }
    .nav ul{}
    .nav ul li:hover .sub-menu{
        display: none;
    }
    .nav ul li a{
        display: block;
        padding: 20%;
        color: #2fceff;
        text-align: center;
    }
    #menu-button, #exit-button{
        display: block;
    }
}

@media (max-width: 865px){
    

}
    
    
